---
import BasePage from '../../layouts/BasePage.astro';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import type { CollectionEntry } from 'astro:content';
import PostCard from '../../components/PostCard.astro';

const posts = await getCollection('blog') as CollectionEntry<'blog'>[];
const sorted = posts.sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Blog Home" description="The blog homepage that lists the posts" image="ai_circuits"/>
  </head>
  <BasePage
    title="Blog Home"
    description="The homepage of the blog; list of posts"
    showTitle
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      {
        sorted.map((post) => (
          <PostCard
            post={post}
          ></PostCard>
        ))
      }
    </div>
  </BasePage>
</html>