/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";

:root {
  --header-height: 105px;
  --footer-height: 120px;
  --hf-height: calc(var(--header-height) + var(--footer-height));
  --main-height: calc(100vh - var(--hf-height));
  --stroke-gray: rgb(128,128,128,0.75);
}

body {
  font-family: "Quantico", sans-serif;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
h1 {
  @apply text-4xl
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-2 font-bold scroll-mt-6
}
strong, b {
  font-family: "dm", monospace;
  @apply font-bold;
}
em, i {
  font-family: "dm", monospace;
  @apply italic font-normal
}
ol {
  @apply list-decimal;
}
ul {
  @apply list-disc;
}
ol, ul {
  @apply list-inside;
}

textarea {
	@apply text-base w-full;
}
input {
	@apply text-base;
}
content {
	line-height: 1.6;
  font-family: 'Quantico', sans-serif;
  @apply font-normal text-sm my-1;
}
table {
	@apply w-full;
}
img {
	max-width: 100%;
  width: max-content;
	height: auto;
}
pre, code {
  font-family: "dm", monospace;
  font-weight: 400;
  font-style: normal;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
  @apply text-slate-900 bg-neutral-200 py-1 pl-4 m-2 italic shadow-[4px_4px_0_0_rgb(0,0,0,0,1)] shadow-slate-400;
}

li > p {
  @apply inline;
}

ul ul {
  @apply pl-4;
}

h3#contents + ul,
h3#contents + ul ul
 {
  @apply list-none
}

h3#contents + ul li a{
  @apply text-lg;
}
h3#contents + ul ul li a{
  @apply text-base;
}
h3#contents + ul ul ul li a {
  @apply text-sm;
}