/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
  font-family: "Quantico", sans-serif;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-xl font-bold;
}
h5 {
  @apply text-lg font-bold;
}
h6 {
  @apply text-base font-bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-2
}
strong, b {
  font-family: "Quantico", sans-serif;
  @apply font-bold;
}
em, i {
  font-family: "Quantico", sans-serif;
  @apply italic font-normal
}
ol {
  @apply list-decimal;
}
ul {
  @apply list-disc;
}
ol, ul {
  @apply list-inside;
}
a:not(nav a, footer a, .post-card) {
	@apply bg-blue-500 text-yellow-300 px-1 shadow-[4px_4px_0_0_rgb(0,0,0,0,1)] shadow-yellow-300;
}
textarea {
	@apply text-base w-full;
}
input {
	@apply text-base;
}
content {
	line-height: 1.6;
}
p {
  font-family: 'Quantico', sans-serif;
  @apply font-normal text-sm my-1;
}
table {
	@apply w-full;
}
img {
	max-width: 100%;
  width: max-content;
	height: auto;
}
pre, code {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
  @apply text-slate-900 bg-neutral-200 py-1 pl-4 m-2 italic shadow-[4px_4px_0_0_rgb(0,0,0,0,1)] shadow-slate-400;
}

li > p {
  @apply inline;
}

ul ul {
  @apply pl-4;
}

h3#contents + ul,
h3#contents + ul ul
 {
  @apply list-none
}

h3#contents + ul li a{
  @apply text-lg;
}
h3#contents + ul ul li a{
  @apply text-base;
}
h3#contents + ul ul ul li a {
  @apply text-sm;
}