---
import BasePage from "../layouts/BasePage.astro";
import BaseHead from "../components/BaseHead.astro";
import Pane from "../components/Pane.astro";
import AstroWindow from "../components/AstroWindow.astro";
import SocialLink from '../components/SocialLink.astro';

interface socialLink {
  src: string;
  altText?: string | undefined;
  href: string;
  linkText: string;
  label?: string;
}

const socials: socialLink[] = [
  {
    altText: 'LinkedIn logo',
    href: 'https://www.linkedin/in/marktonchick',
    linkText: 'Mark Tonchick',
    src: 'LI-In-Bug_m5eans',
    label: 'LinkedIn',
  },
  {
    altText: 'GitHub logo',
    href: 'https://github.com/mtonc"',
    linkText: 'mtonc',
    src: 'github_jd2z5w',
    label: 'Github'
  },
  {
    altText: 'Discord logo',
    href: 'https://discordapp.com/users/398293326442397697',
    linkText: 'mtonc',
    src: 'icon_clyde_blurple_CMYK_hrrlvt',
    label: 'Discord'
  },
  {
    altText: 'CodePen Logo',
    href: 'https://codepen.io/mtonc',
    linkText: 'mtonc',
    src: 'cp-logo_k5jjkn',
    label: 'CodePen'
  },
  {
    altText: 'p5.js logo',
    href: 'https://editor.p5js.org/m.tonchick/sketches',
    linkText: 'm.tonchick',
    src: 'p5_hrpoox',
    label: 'p5.js'
  }
];


---
<!DOCTYPE html>
<html lang="en" transition:animate="none">
  <BasePage
    title="Home"
    description="The home page of the site"
    color="aadfe5"
  >
    <AstroWindow>
      <Pane color="aadfe5" heading="Hello, world!">
        <br/>
        <p>
          Welcome to mtonc.dev. This is my personal site to demonstrate various technologies as well as host my blog. 
          I will be discussing my various projects, including code examples. The long term goals of this site is to display my projects
          and to demostrate my writing abilities in the hopes of securing a Developer Relations job.
        </p>
      </Pane>
      <Pane color="f7c821" heading="Socials">
        <br/>
        <ul>
          {socials.map(link => <SocialLink link={link} />)}
        </ul>
      </Pane>
      <Pane color="e279e1">
        <br/>
      </Pane>
    </AstroWindow>
  </BasePage>
</html>
