---
const today = new Date();
---

<footer class="text-center p-6">
	&copy; {today.getFullYear()} mtonc. All rights reserved.
  Built with <a href="https://astro.build/"><img class="w-4 h-4 inline" src="/favicon.svg"/>Astro</a>.
</footer>
