---
interface Props {
	color: string;
  heading?: string | undefined;
}

const { color , heading = undefined } = Astro.props;
---
<div class="pane p-4 w-full h-[calc(100vh-178px)] snap-start overflow-hidden" data-color={color}>
  <div class="shadow-lg relative bg-white/50 p-4 rounded-lg overflow-y-auto h-full">
    {heading && <slot name="heading">
      <h3>{heading}</h3>
    </slot>}
    <slot />
  </div>
</div>
