---
import type { CollectionEntry } from 'astro:content';
import BasePage from '../layouts/BasePage.astro';
import { Image } from 'astro:assets';
import FormattedDate from '../components/FormattedDate.astro';

interface Props {
  title?: string;
  description?: string;
  pubDate: Date;
  updatedDate?: Date;
  heroImage?: string;
}

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---
<BasePage>
    {heroImage && <Image width={720} height={360} src={heroImage} alt="" />}
    {title && <h1 class="title">{title}</h1>}
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
  <article>
    <slot/>
  </article>
</BasePage>
<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>